{% extends "layout.html" %}

{% block title %}
    <title>E-Mail Verifikation | {{ config['PROJECT_NAME'] }}</title>
{% endblock title%}

{% block content %}
    <section>
        <h2>E-Mail Verifikation</h2>
        {% with messages = get_flashed_messages() -%}
            {% if messages -%}
                {% for message in messages -%}
                    <p>{{ message }}</p>
                {% endfor -%}
            {% endif -%}
        {% endwith -%}
    </section>
    <section>
         <div class="container">
             <p>Erzähle deinen Freund*innen und Verwandten von dieser Seite, was die Regierung vorhat und warum sie ebenfalls davon betroffen sind.</p>
             <a class="btn btn-back top" href="/weitersagen/">Weitersagen</a>
        </div>
    </section>
    <section>
        <div class="container">
            <p>Falls dir deine Gemeine geantwortet hat, haben wir für dich ein paar Tipps und weiter Informationen in einem Gesprächsleitfaden zusammengetragen</p>
             <a class="btn btn-back top" href="/konversationsleitfaden/">Gesprächsleitfaden</a>
         </div>
    </section>
{% endblock %}
