<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
<!-- <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/sms-link.min.js') }}"></script> -->
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<!-- <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/chart.min.js') }}"></script> -->
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
