<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="author" content="Chaos Computer Club Wien" />
<meta name="description" content="Für Luftfilter in allen öffentlichen Gebäuden!" />
<meta name="keywords" content="Bürger*innen-Initiative, COVID-19" />

<meta property="og:title" content="{{ config['PROJECT_NAME'] }}" />
<meta property="og:image" content="{{ url_for('static', filename='img/thumbnail.jpg', _external=True, _scheme='https') }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://luftfilterbegehren.at/" />
<meta property="og:description" content="Für Luftfilter in allen öffentlichen Gebäuden!" />
<meta property="og:locale" content="de_AT" />
<meta property="og:site_name" content="Chaos Computer Club Wien"/>

<meta name="twitter:title" content="{{ config['PROJECT_NAME'] }}" />
<meta name="twitter:image" content="{{ url_for('static', filename='img/thumbnail.jpg', _external=True, _scheme='https') }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://luftfilterbegehren.at/" />
<meta name="twitter:description" content="Für Luftfilter in allen öffentlichen Gebäuden!" />
<meta name="twitter:site" content="@c3wien" />

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick-theme.css') }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
