{% extends "layout.html" %}
{% set active_page = "general.faq" %}

{% block title %}
    <title>Häufig gestellte Fragen | {{ config['PROJECT_NAME'] }}</title>
{% endblock title %}

{% block content %}
    <section class="chat">
        <div class="container">
            <h1>Häufig gestellte Fragen</h1>
            <ul>
                <li>
                    <div class="avtxt">
                        <h3>Wer seid ihr?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Diese Kampagne wurde vom <a href="https://c3w.at/" target="_blank">Chaos Computer Club Wien</a> initiiert. 
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Warum macht ihr das?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        TBD.
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Wer finanziert euch?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Der C3W finanziert sich aus Mitgliedsbeiträgen. Weitere Informationen findest du <a href="https://c3w.at/" target="_blank">auf unserer Website</a>.
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Wie kann ich bei euch mitmachen?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Informationen zu unseren Treffen und Kontaktmöglichkeiten findest du <a href="https://c3w.at/mitmachen/" target="_blank">auf unserer Website</a>.
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Was passiert bei dieser Kampagne?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Wir möchten österreichischen Einwohner*innen und Bürger*innen dabei helfen, ihre Gemeinden davon zu überzeugen wirkungsvolle Maßnahmen gegen COVID-19 und andere durch die Luft übertragene Erkrankungen zu setzen.
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Also was genau passiert hier?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        TBD.
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Und spammt ihr mich dann zu und verkauft meine Daten?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Nein. Wir speichern deine E-Mail-Adresse in Kombination mit der/den von dir kontaktierten Gemeinde(n) ab. Außerdem erhälst du von uns pro Kontaktaufnahme eine E-Mail zur Adressverifikation sowie eine Versandbestätigung. Das war's. Details findest du in unserer <a href="/datenschutz/">Datenschutzerklärung</a>. Bei weiteren Fragen sind wir <a href="/kontakt">schriftlich erreichbar</a>.
                    </p>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
