{% extends "layout.html" %}
{% set active_page = "general.faq" %}

{% block title %}
    <title>Häufig gestellte Fragen | {{ config['PROJECT_NAME'] }}</title>
{% endblock title %}

{% block content %}
    <section class="chat">
        <div class="container">
            <h1>Häufig gestellte Fragen</h1>
            <ul>
                <li>
                    <div class="avtxt">
                        <h3>Wer steht hinter luftfilterbegehren.at?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Diese Kampagne wurde vom <a href="https://c3w.at/">Chaos Computer Club Wien</a> initiiert.
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Warum macht ihr das?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Diese Kampagne wurde vom <a href="https://c3w.at/">Chaos Computer Club Wien</a> initiiert.
                        Wir möchten die Sicherheit unserer Mitmenschen vor SARS-COV-2 und anderen durch die Luft übertragenen Viren erhöhen. Welche langfristigen Einschränkungen eine überstandene Corona-Infektion nach sich ziehen kann, haben wir in unserem <a href="/konversationsleitfaden/">Gesprächsleitfaden</a> zusammengefasst.
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Was passiert bei dieser Kampagne?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Wir wollen österreichischen Einwohner*innen und Bürger*innen dabei helfen, ihre Gemeinden davon zu überzeugen, wirkungsvolle Maßnahmen gegen COVID-19 und andere durch die Luft übertragene Erkrankungen zu setzen.
                        <br> <br>
                        Unsere Gemeinden müssen nicht auf die Bundespolitik warten, um bereits jetzt selbst Luftfilteranlagen in Schulen, Kindergärten und anderen öffentliche Gebäude einzusetzen! 
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Und spammt ihr mich dann zu und verkauft meine Daten?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Nein. Wir speichern und verarbeiten die von dir angegebenen Daten (Name, E-Mail-Adresse) in Kombination mit der/den von dir kontaktierten Gemeinde(n). Name und E-Mail-Adresse werden im Rahmen des E-Mail-Versandes an die jeweils kontaktierte Gemeinde weitergegeben. Außerdem erhälst du von uns pro Kontaktaufnahme eine E-Mail zur Adressverifikation sowie eine Versandbestätigung. Das war's. Details findest du in unserer <a href="/datenschutz/">Datenschutzerklärung</a>. Bei weiteren Fragen sind wir unter durchatmen [at] luftfilterbegehren.at erreichbar.
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Was genau meint ihr mit "Luftfilter"?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Unter dem Begriff "Luftfilter" fassen wir diverse Geräte und Einrichtungen zusammen, die zur Verbesserung der Luftqualität in öffentlichen Gebäuden, und damit zur Verringerung des Infektionsrisikos für durch die Luft übertragene Krankheiten, beitragen. Das umfasst u.a. Luftreinigungsgeräte und die Kombination von CO2-Messgeräten und Abluftventilation. Für uns ist vor allem wichtig, dass das Thema Luft im Allgemeinen mehr Aufmerksamkeit bekommt.
                    </p>
                </li>
                        <li>
                    <div class="avtxt">
                        <h3>Was kann ich sonst noch machen?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Du kannst deinem Umfeld von dieser Kampagne erzählen - <a href="/weitersagen/">digital</a> oder analog. Vor allem solltest du, wenn du dich mit anderen Leuten in geschlossenen Räumen aufhälst, weiterhin eine FFP2-Maske tragen, egal ob Pflicht oder nicht. Nimm Test-Möglichkeiten in Anspruch (immer mit dem Wissen, dass es sich bei den Ergebnissen um Momentaufnahmen handelt), und kümmere dich zeitnahm um deine (Booster-)Impfung.
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Was, wenn mir meine Gemeinde geantwortet hat?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Keine Angst, dass Gemeinden mit ihren Bürger*innen ins Gespräch kommen, ist erst einmal begrüßenswert. In unserem <a href="/konversationsleitfaden/">Gesprächsleitfaden</a> sammeln wir Tipps und weiterführende Informationen für den konstruktiven Austausch mit deiner Gemeinde.
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Wer finanziert euch?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Der C3W finanziert sich aus Mitgliedsbeiträgen. Weitere Informationen findest du <a href="https://c3w.at/">auf unserer Website</a>.
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Wie kann ich bei euch mitmachen?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Informationen zu unseren Treffen und Kontaktmöglichkeiten findest du <a href="https://c3w.at/mitmachen/">auf unserer Website</a>.
                    </p>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
