{% extends "layout.html" %}
{% set active_page = "general.index" %}

{% block title %}
    <title>{{ config['PROJECT_NAME'] }}</title>
{% endblock title%}

<!--
{% block header %}
    <div class="banner">
        <img src="static/img/header_uepa.jpg" class="visible-desktop">
        <img src="static/img/header_uepa_mobile.jpg" class="visible-mobile">
    </div>
{% endblock %}
-->

{% block content %}
<div class="frontpage-content">

    <section id="sicherheit">
        <div class="container">
            <h2>Luftfilter gegen Corona</h2>
            <p>In der österreichischen Bundespolitik fehlt es an Plänen, um Schulen, Kindergärten und andere öffentliche Gebäude sicher für die nächste Corona-Welle zu gestalten. Luftfilteranlagen sind eine effektive Möglichkeit zur Eindämmung der Verbreitung von durch die Luft übertragenen Viren wie z.B. des Coronavirus (<a href="https://kurier.at/wissen/gesundheit/luftfilter-senken-zahl-der-corona-faelle-in-schulen-um-82-prozent/401948173">Bericht im Kurier</a>, <a href="https://www.fondazionehume.it/data-analysis/controlled-mechanical-ventilation-cmv-works/">Original-Studie</a>). 
                <br>
                <br>
                Glücklicherweise müssen unsere Gemeinden nicht auf die Bundespolitik warten: Sie können selbst aktiv werden und Luftfilteranlagen installieren. Auf dieser Webseite kannst du deine Gemeinde kontaktieren, sie über die Wirksamkeit von Luftfilteranlagen informieren und sie zum Einsatz entsprechender Anlagen auffordern.
                <br>
                <br>
                Hilf mit, dein Umfeld zu schützen, und <a href="/gemeinden/">schreib jetzt deine Gemeinde an!</a></p>
        </div>
      <div class="container">
        <div class="progress-container">
          <progress id="progress" max="{{ cities.count }}" value="{{ cities.countcmv  }}"> {{ cities.countcmv }} von {{ cities.count }}</progress>
        </div>
        <p>Bisher {% if cities.countcmv == 1 %} hat {% else %} haben {% endif %} {{ cities.countcmv }} von {{ cities.count }} Gemeinden gemeldet, Luftfilteranlagen in öffentlichen Gebäuden einzusetzen oder das zu planen.
          <br>
          <br>
          Deine Gemeinde ist noch nicht dabei? Dann los!</p>
      </div>
    </section>
    <section>
        <div class="container">
             <a class="btn btn-back top" href="/gemeinden/">Gemeinde kontaktieren</a>
         </div>
     </section><section>
         <div class="container">
             <a class="btn btn-back top" href="/weitersagen/">Weitersagen</a>
        </div>
    </section>
</div>
{% endblock %}
