{% extends "layout.html" %}
{% set active_page = "general.privacy" %}

{% block title %}
    <title>Datenschutz | {{ config['PROJECT_NAME'] }}</title>
{% endblock title %}

{% block content %}
    <section>
        <h1>Datenschutz</h1>
        <p>Wir erheben keinerlei statistische Daten zu Besuchen dieser Website.</p>
        <p>Bei Nutzung des Werkzeugs zum Kontaktieren von Gemeinden speichern wir deine E-Mail Adresse, und welche Gemeinde(n) du kontaktiert hast. Du kannst uns jederzeit kontaktieren, um deine Daten von uns zu beauskunften bzw. löschen zu lassen.</p>
        <p>Bei der Nutzung des Werkzeugs "Weitersagen" werden keine personenbezogenen Daten übertragen.</p>       
</section>
{% endblock %}
