{% extends "layout.html" %}
{% set active_page = "general.share" %}

{% block title %}
    <title>Sprich über Überwachung | {{ config['PROJECT_NAME'] }}</title>
{% endblock title%}

{% block content %}
    <section id="wie-kann-ich-helfen">
        <div class="container">
            <h2>Wie kann ich helfen?</h2>
            <div class="row items2">
                <div class="column">
                    <h4>Sprich über das Luftilterbegehren</h4>
                    <p>Erzähle deinen Freund*innen und Verwandten von dieser Seite, was die Regierung vorhat und warum sie ebenfalls davon betroffen sind.</p>
                    <div class="row bottom">
                        <a class="share center" href="https://toot.kytta.dev/?text=Schreib%20deine%20Gemeinde%20auf%20https://luftfilter.at/%20an!">
                            <div class="center"><i class="fa fa-mastodon" aria-hidden="true"></i></div>
                        </a>
                        <a class="share center" href="https://twitter.com/intent/tweet?url=https://luftfilter.at/&text=">
                            <div class="center"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        </a>
                        <a class="share center" href="https://www.facebook.com/sharer/sharer.php?u=https://luftfilter.at/">
                            <div class="center"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        </a>
                        <a class="share center" href="mailto:info@example.com?&subject=&cc=&bcc=&body=https://luftfilter.at/%0A">
                            <div class="center"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                        </a>
                        <a class="share share-mobile center" href="fb-messenger://share/?link=http://luftfilter.at/">
                            <div class="center"><i class="fb-messenger"></i></div>
                        </a>
                        <a class="share share-mobile center" href="sms:?body=Sprich deine Gemeinde auf das https://luftfilter.at/ an!">
                            <div class="center">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-comment fa-stack-1x"></i>
                                    <strong class="fa fa-stack-1x sms-text">sms</strong>
                                </span>
                            </div>
                        </a>
                        <a class="share center" href="https://telegram.me/share/url?url=https%3A%2F%2Fluftfilter.at%2F&amp;text=Sprich deine Gemeinde auf das an!">
                            <div class="center"><i class="fa fa-telegram"></i></div>
                        </a>
                        <a class="share share-mobile center" href="whatsapp://send?text=http://luftfilter.at/" data-action="share/whatsapp/share">
                            <div class="center"><i class="fa fa-whatsapp"></i></div>
                        </a>
                    </div>
                </div>
                <div class="column">
                    <h4>Komm zu einem unserer Termine</h4>
                    <p>Dort kannst du dich informieren, mit anderen kritischen Menschen diskutieren und diese Kampagne aktiv mitgestalten.</p>
                    <a class="btn btn-back top" href="https://c3w.at/events/">Termine</a>
                </div>
                <div class="column">
                    <h4>Spenden</h4>
                    <p>Als unabhängiger und gemeinnütziger Verein ist der Chaos Computer Club Wien auf finanzielle Unterstützung angewiesen. Spenden ermöglichen uns sich weiterhin für sich grenzüberschreitend für Informationsfreiheit einzusetzt, den kritischen Umgang mit elektronischen Medien sowie der Risiken und Nebenwirkungen der elektronischen Kommunikation und die Verbreitung von freien Technologien und Standards und das Wissen um diese Entwicklung zu fördern.</p>
                    <a class="btn btn-default bottom" href="https://c3w.at/impressum/">Jetzt spenden</a>
                </div>
                <div class="column">
                    <h4>Abonnieren und Mitmachen</h4>
                    <p>Auf der öffentlichen Mailingliste vom Chaos Computer Club Wien bleibst du immer auf dem neuesten Stand. Zusätzlich zu den Benachrichtigungen über Möglichkeiten, kurzfristig aktiv zu werden kannst du hier direkt mit Personen aus der wiener Netzszene in Kontakt treten.</p>
                    <form class="row bottom" action="https://lists.c3w.at/postorius/lists/public.lists.c3w.at/" method="post">
                        <input name="email" placeholder="E-Mail" type="email" class="stick" />
                        <button class="btn btn-back stick">Abonnieren</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
