{% extends "layout.html" %}
{% set active_page = "general.share" %}

{% block title %}
    <title>Sprich über Überwachung | {{ config['PROJECT_NAME'] }}</title>
{% endblock title%}

{% block content %}
    <section id="wie-kann-ich-helfen">
        <div class="container">
            <h2>Wie kann ich helfen?</h2>
            <div class="row items2">
                <div class="column">
                    <h4>Sprich über das Luftilterbegehren</h4>
                    <p>Erzähle deinen Freund*innen und Verwandten von dieser Seite, was die Regierung vorhat und warum sie ebenfalls davon betroffen sind.</p>
                    <div class="row bottom">
                        <a class="share center" href="http://www.facebook.com/sharer.php?u=https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F">
                            <div class="center"><i class="fa-brands fa-facebook" aria-hidden="true"></i></div>
                        </a>
                        <a class="share center" href="https://twitter.com/intent/tweet?url=https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F&amp;text=Sicherheit%20statt%20%C3%9Cberwachung.%20Stoppt%20das%20%23%C3%9Cberwachungspaket%21&Sicherheit%20statt%20Überwachung.#20Stoppt%20das%20#Überwachungspaket!&amp;related=epicenter%5Fworks%3Aepicenter%2Eworks">
                            <div class="center"><i class="fa-brands fa-twitter" aria-hidden="true"></i></div>
                        </a>
                        <a class="share center" href="https://toot.kytta.dev/?text=Schreib%20deine%20Gemeinde%20auf%20https://luftfilter.at/%20an!">
                            <div class="center"><i class="fa-brands fa-mastodon" aria-hidden="true"></i></div>
                        </a>
                        <a class="share center" href="mailto:?subject=Stoppen%20wir%20das%20%C3%9Cberwachungspaket%21&amp;body=Hallo%2C%20ich%20will%20nicht%20auf%20Schritt%20und%20Tritt%20%C3%BCberwacht%20werden%20k%C3%B6nnen.%20Hilf%20mit%2C%20das%20%C3%9Cberwachungspaket%20der%20Regierung%20zu%20stoppen%21%20Mehr%20dazu%20auf%20www.%C3%BCberwachungspaket.at">
                            <div class="center"><i class="fa-solid fa-envelope" aria-hidden="true"></i></div>
                        </a>
                        <a class="share share-mobile center" href="fb-messenger://share/?link=http://luftfilter.at/">
                            <div class="center"><i class="fb-messenger"></i></div>
                        </a>
                        <a class="share share-mobile center" href="sms:?body=Schau dir https://www.überwachungspaket.at an!">
                            <div class="center"><i class="fa-solid fa-comment-sms"></i></div>
                        </a>
                        <a class="share center" href="https://telegram.me/share/url?url=https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F&amp;text=Schau%20dir%20das%20an%21">
                            <div class="center"><i class="fa-brands fa-telegram"></i></div>
                        </a>
                        <a class="share share-mobile center" href="whatsapp://send?text=Schau%20dir%20das%20an%21%20https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F" data-action="share/whatsapp/share">
                            <div class="center"><i class="fa-brands fa-whatsapp"></i></div>
                        </a>
                        <a class="share center" href="http://www.reddit.com/submit?url=https%3A%2F%2Fwww.%C3%BCberwachungspaket.at&amp;title=Stoppt%20das%20%C3%9Cberwachungspaket%21&amp;resubmit=true">
                            <div class="center"><i class="fa-brands fa-reddit-alien"></i> </div>
                        </a>
                    </div>
                </div>
                <div class="column">
                    <h4>Komm zu einem unserer Termine</h4>
                    <p>Dort kannst du dich informieren, mit anderen kritischen Menschen diskutieren und diese Kampagne aktiv mitgestalten.</p>
                    <a class="btn btn-back bottom" href="https://c3w.at/events/">Termine</a>
                </div>
                <div class="column">
                    <h4>Abonnieren und Mitmachen</h4>
                    <p>Auf der öffentlichen Mailingliste vom Chaos Computer Club Wien bleibst du immer auf dem neuesten Stand. Zusätzlich zu den Benachrichtigungen über Möglichkeiten, kurzfristig aktiv zu werden kannst du hier direkt mit Personen aus der wiener Netzszene in Kontakt treten.</p>
                    <form class="row bottom" action="https://lists.c3w.at/postorius/lists/public.lists.c3w.at/" method="post">
                        <input name="email" placeholder="E-Mail" type="email" class="stick" />
                        <button class="btn btn-back stick">Abonnieren</button>
                    </form>
                </div>
                <div class="column">
                    <h4>Spenden</h4>
                    <p>Der Chaos Computer Club Wien finanziert sich vor allem aus Mitgliedsbeiträgen. Mit diesen setzen wir uns für den grenzüberschreitende Informationsfreiheit und die Verbreitung von freien Technologien und Standards ein. Außerdem fördern wir den kritischen Umgang mit elektronischen Medien. Falls du uns dennoch spenden willst, kannst du hier:</p>
                    <a class="btn btn-back bottom" href="https://c3w.at/impressum/">Spenden</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
