{% extends "layout.html" %}
{% set active_page = "general.share" %}

{% block title %}
    <title>Weitersagen | {{ config['PROJECT_NAME'] }}</title>
{% endblock title%}

{% block content %}
    <section id="wie-kann-ich-helfen">
        <div class="container">
            <h2>Wie kann ich helfen?</h2>
            <div class="row items2">
                <div class="column">
                    <h3>Sprich über das Luftfilterbegehren</h3>
                    <p>Erzähle Freund*innen, Bekannten, Arbeitskolleg*innen und Verwandten von dieser Seite und warum sie ebenfalls mitmachen sollten.</p>
                    <div class="row bottom">
                        <a class="share center" href="https://toot.kytta.dev/?text=Ich%20habe%20meine%20Gemeinde%20aufgefordert,%20Luftfilteranlagen%20in%20Schulen,%20Kinderg%C3%A4rten%20und%20anderen%20%C3%B6ffentlichen%20Geb%C3%A4uden%20einzusetzen!%20Auch%20du%20kannst%20deine%20Gemeinde%20zum%20Einsatz%20entsprechender%20Anlagen%20auffordern!%20Wie%20das%20geht,%20findest%20du%20auf%20https://luftfilterbegehren.at/gemeinden.html%20%23Luftfilterbegehren">
                            <div class="center"><i class="fa-brands fa-mastodon" aria-hidden="true"></i></div>
                        </a>
                        <a class="share center" href="https://twitter.com/intent/tweet?text=Ich%20habe%20meine%20Gemeinde%20aufgefordert,%20Luftfilteranlagen%20in%20Schulen,%20Kinderg%C3%A4rten%20und%20anderen%20%C3%B6ffentlichen%20Geb%C3%A4uden%20einzusetzen!%20Auch%20du%20kannst%20deine%20Gemeinde%20zum%20Einsatz%20entsprechender%20Anlagen%20auffordern!%20Wie%20das%20geht,%20findest%20du%20auf%20https://luftfilterbegehren.at/gemeinden.html%20%23Luftfilterbegehren">
                            <div class="center"><i class="fa-brands fa-twitter" aria-hidden="true"></i></div>
                        </a>
                        <a class="share center" href="https://www.facebook.com/sharer/sharer.php?u=https://luftfilterbegehren.at/gemeinden.html">
                            <div class="center"><i class="fa-brands fa-facebook" aria-hidden="true"></i></div>
                        </a>
                        <a class="share center" href="mailto:info@example.com?&subject=Corona-Wellenbrecher%20in%20Schulen%20und%20%C3%B6ffentlichen%20Geb%C3%A4uden&cc=&bcc=&body=https://luftfilterbegehren.at/gemeinden.html%0AIch%20habe%20meine%20Gemeinde%20dazu%20aufgefordert,%20Luftfilteranlagen%20in%20Schulen,%20Kinderg%C3%A4rten%20und%20anderen%20%C3%B6ffentlichen%20Geb%C3%A4uden%20einzusetzen!%20Auch%20du%20kannst%20deine%20Gemeinde%20kontaktieren,%20sie%20%C3%BCber                        %20die%20Wirksamkeit%20von%20Luftfiltern%20informieren%20und%20sie%20zum%20Einsatz%20entsprechender%20Anlagen%20auffordern,%20denn%20Gemeinden%20m%C3%BCssen%20nicht%20erst%20warten,%20bis%20die%20Bundespolitik%20aktiv%20wird.%20Wie%20das%20geht?%20Hier%20klicken,%20Gemeinde%20ausw%C3%A4hlen,%20E-Mail%20abschicken:%20https://luftfilterbegehren.at/gemeinden.html">
                            <div class="center"><i class="fa-solid fa-envelope" aria-hidden="true"></i></div>
                        </a>
                        <a class="share share-mobile center" href="fb-messenger://share/?link=https://luftfilterbegehren.at/">
                            <div class="center"><i class="fb-messenger"></i></div>
                        </a>
                        <a class="share share-mobile center" href="sms:?body=Ich habe meine Gemeinde aufgefordert, Luftfilteranlagen in Schulen, Kindergärten und anderen öffentlichen Gebäuden einzusetzen! Auch du kannst deine Gemeinde zum Einsatz entsprechender Anlagen auffordern! Wie das geht, findest du auf https://luftfilterbegehren.at/gemeinden.html">
                            <div class="center"><i class="fa-solid fa-comment-sms"></i></div>
                        </a>
                        <a class="share center" href="https://telegram.me/share/url?url=https%3A%2F%2Fluftfilterbegehren.at%2Fgemeinden.html&amp;text=Ich habe meine Gemeinde aufgefordert, Luftfilteranlagen in Schulen, Kindergärten und anderen öffentlichen Gebäuden einzusetzen! Auch du kannst deine Gemeinde zum Einsatz entsprechender Anlagen auffordern! Wie das geht, findest du auf https://luftfilterbegehren.at/gemeinden.html">
                            <div class="center"><i class="fa-brands fa-telegram"></i></div>
                        </a>
                        <a class="share share-mobile center" href="whatsapp://send?text=http://luftfilterbegehren.at/gemeinden.html" data-action="share/whatsapp/share">
                            <div class="center"><i class="fa-brands fa-whatsapp"></i></div>
                        </a>
                    </div>
                </div>
                <div class="column">
                    <h3>Komm zu einem unserer Treffen</h3>
                    <p>Dort kannst du dich über uns und die Kampagne weiter informieren, mit anderen kritischen Menschen diskutieren und diese Kampagne aktiv mitgestalten.</p>
                    <a class="btn btn-back bottom" href="https://c3w.at/events/">Termine</a>
                </div>
                <div class="column">
                    <h3>Abonnieren und Mitmachen</h3>
                    <p>Auf der öffentlichen Mailingliste vom Chaos Computer Club Wien bleibst du immer auf dem neuesten Stand. Zusätzlich zu den Benachrichtigungen über Möglichkeiten, kurzfristig aktiv zu werden, kannst du hier direkt mit Personen aus dem "Wiener Chaos" in Kontakt treten.</p>
                    <a class="btn btn-back bottom" href="https://lists.c3w.at/postorius/lists/public.lists.c3w.at/">Mailingliste abonnieren</a>
                </div>
                <div class="column">
                    <h3>Spenden</h3>
                    <p>Der Chaos Computer Club Wien finanziert sich vor allem aus Mitgliedsbeiträgen. Mit diesen setzen wir uns für grenzüberschreitende Informationsfreiheit und die Verbreitung von freien Technologien und Standards ein. Außerdem fördern wir den kritischen Umgang mit elektronischen Medien. Falls du uns etwas spenden willst, findest du Informationen dazu hier:</p>
                    <a class="btn btn-back bottom" href="https://c3w.at/impressum/">Spenden</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
