{% extends "layout.html" %}
{% set active_page = "general.supporters" %}

{% block title %}
    <title>Unsere Unterstützerinnen und Unterstützer | {{ config['PROJECT_NAME'] }}</title>
{% endblock title%}

{% block content %}
    <section id="supporters">
        <div class="container">
            <h2>Unsere Unterstützerinnen und Unterstützer</h2>
            {% set supporter_items = [
                ("Chaos Computer Club Wien", "https://c3w.at", "c3w.jpg")
            ] -%}

            <ul class="row indent">
                {% for name, href, img in supporter_items -%}
                <a href="{{ href }}"><img alt="{{ name }}" title="{{ name }}" src="{{ url_for('static', filename='img/supporter/' + img) }}" /></a>
                {% endfor -%}
            </ul>
        </div>
    </section>
{% endblock %}
